<div id="maniContent"></div>
<script type="text/javascript">
    $(function() {
        geDepts();
    });
    function geDepts() {
        $.getJSON("http://localhost:56342/api/Department", function (allDept) {
            var compiled = _.template($("#dept-template").html());
            $("#maniContent").html(compiled({ depts: allDept }));

            var asd= "<table><tr>"
        });
    };
</script>

<script type="text/x-template" id="dept-template">

    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
        <% _.each(depts, function(dept){%>

        <tr>
            <td>
                <%= dept.Id %>
            </td>
            <td>
                <%= dept.Name %>
            </td>
            <td></td>
        </tr>
        <%})%>     

    </table>

</script>